.yektanet {
border-top:2px solid #830046;
border-bottom:2px solid #830046;
padding: 14px 0px 0px 0px;
margin:5px 0 15px 0;
}

.yektanet a {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
}
.yektanet a span{
  font-size: 13px;font-weight:bold;color:#830046;
}
.yektanet a span:hover{
color:#d80073;
}
@media screen and (min-width: 479px) {
  .yektanet a {
    width: calc(50% - 10px);
  }
  }
@media screen and (max-width: 479px) {
  .yektanet a {
    width: calc(100% - 10px);
  }
}

.yektanet figure {
  margin: 0;
}
.yektanet img {
  border: none;padding:0px 5px;
  max-width: 100px;
  height: auto;
  display: block;
float:right;
  transition: transform .2s ease-in-out;
}